<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGN UP</title>
  <link rel="stylesheet" type="text/css" href="/css/signUp.css">
  <header><%- include('../partials/header') %></header>

</head>
<body>
  <div class="login-container" width="50%" height="50%">
    <h1>Sign Up</h1>
    
    <div class="login-options">
      <form action="/register" method="POST">
        <input type="text" placeholder="Email" name="email" />
        <input type="password" placeholder="Password" name="password" />
        <input type="password" placeholder="Confirm pasword" name="confirmpassword" />
        <input type="submit" class="btn" value="Sign Up">
      </form>
    </div>
    
      
      <!-- <a type="button" class="google" href="#"><img src="googleoption.png" width="50%" alt="sign up with google"></a>
      <a type="button" class="twitter" href="#"><img src="twitteroption.png"width="50%" alt="sign up with twitter" ></a>
      <a type="button" class="linkedin" href="#"><img src="linkedinoption.png"width="50%" alt="sign up with linkedin"></a> -->
    
    <form>
     
    </form>
  </div>
</body>
</html>

